anyio==3.6.1; python_full_version >= "3.6.2" and python_version >= "3.6"
certifi==2022.5.18.1; python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.5.0" and python_version >= "3.6"
h11==0.13.0; python_version >= "3.6"
h2==4.1.0; python_version >= "3.6" and python_full_version >= "3.6.1"
hpack==4.0.0; python_version >= "3.6" and python_full_version >= "3.6.1"
httpcore==0.14.7; python_version >= "3.6"
httpx==0.22.0; python_version >= "3.6"
hyperframe==6.0.1; python_version >= "3.6" and python_full_version >= "3.6.1"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.2"
rfc3986==1.5.0; python_version >= "3.6"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
typing-extensions==4.1.1; python_full_version >= "3.6.2" and python_version >= "3.6" and python_version < "3.8"
